{% extends "base.html" %}
{% load static %}

{% block content %}
    <center>
    <div class="mb-4" style="width: 550px;">
        
        <form action="/posts/add/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}

        <p>
            <div style="width: 75%;">
            <!--field.label_tag-->
            {{ field }}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            </div>
        </p>

        {% endfor %}
            <input type="submit" class="btn btn-primary" value="Post" style="width:75%; background-color: #fd0d6e; outline: none; border: none;">
        </form>

    </div>
    </center>
{% endblock content %}